$blue: #375a7f;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #E74C3C;
$orange: #fd7e14;
$yellow: #F39C12;
$green: #51a764;
$teal: #20c997;
$cyan: #3498DB;
$white: #fff;
$gray: #999;
$gray-dark: #303030;
$primary: #375a7f;
$secondary: #444;
$success: #51a764;
$info: #3498DB;
$warning: #F39C12;
$danger: #E74C3C;
$light: #303030;
$dark: #adb5bd;

$overview-sticky-height: 2.4em;
$overview-height: 8.5em;
// Using `em` creates weird rounding issues and off-by-one pixel alignment
$overview-section-width: 130px;
$overview-highlight-hover: #ffffff33;
$overview-highlight-select: #ffffff55;
$overview-count: #ffffff55;
$overview-count-select: #ffffff77;

$transparent: #00000000;

$port-published: $green;
$port-target: #999;

$mount-button: #824747;

$url-hover-color: #3798db99;

$modal-background-color: #00000099;
$modal-background-hover-color: #000000aa;

$overview-background-color: #222222;

$button-background-hover-color: #374f5a33;
$background-color: #22222299;
$background-color-secondary: #333;
$background-color-translucent: rgba(34, 34, 34, 0.9);
$background-color-highlight: #292929;
$background-color-updating: #7b613a94;

$background-color-updating-percent-0: #c1d76420;
$background-color-updating-percent-10: #bad76428;
$background-color-updating-percent-20: #a1d76430;
$background-color-updating-percent-30: #98d76432;
$background-color-updating-percent-40: #85d76434;
$background-color-updating-percent-50: #81d76436;
$background-color-updating-percent-60: #81d76438;
$background-color-updating-percent-70: #71c76440;
$background-color-updating-percent-80: #71c76442;
$background-color-updating-percent-90: #61b76444;
$background-color-updating-percent-100: #51a76446;

$highlight-select: #bf9208d1;
$highlight-select-background: rgba(240,240,102,0.1);
$highlight-select-background-secondary: rgba(240,240,102,0.07);
$highlight-select-accent: #375a7e55;

$loader: #ffff00bb;

$outline: #555;
$outline-dark: #333;
$outline-background: #32322f55;
$accent: #629dda;
$accent-dark: #375a7e;
$accent-background: #4868af6b;

$label-text: #ccc;
$label-text-secondary: #dedede;
$label-text-subheading: #aaa;
$label-text-light: #eee;
$label-text-dark: #999;

$updating: #dd4;

$mapping-key: #e3df4177;
$mapping-syntax: #5194e977;
$mapping-value: #cccccc88;

$window-height: 100%;

$monospace: 'Space Mono', monospace;
body {
  height: 100%;
  // Scrolling only occurs within the node and stack views
  overflow-y: hidden;
  background-color: #202020;
}

html {
  font-size: 14px;
}

.badge.dense {
  margin: 0 !important;
}

.clickable {
  cursor: pointer;
}
