$port-published: #9d9;
$port-target: #999;

$mount-button: #824747;

$modal-background-color: #000000aa;

$url-hover-color: #3798db99;
$background-color: #222;
$background-color-secondary: #333;
$background-color-translucent: rgba(34, 34, 34, 0.9);
$background-color-highlight: #292929;

$status-light-healthy: #28a74555;
$status-light-healthy-shadow: rgba(0, 0, 34, 0.7);

$highlight-select: #dd9;
$highlight-select-accent: #375a7e55;

$accent-dark: #555;

$label-text: #ddd;
$label-text-secondary: #dedede;
$label-text-subheading: #aaa;
$label-text-light: #eee;
$label-text-dark: #999;

$updating: #dd4;
$updated: #4d4;

$mapping-key: #38755d;
$mapping-syntax: #00b7a8;
$mapping-value: #999;

html {
  font-size: 14px;
}

.badge {
  color: $label-text;
  text-shadow: 0px 0px 5px $accent-dark;
}

.badge.dense {
  margin: 0 !important;
}

.tooltip {
  color: $label-text-light !important;

  em {
    color: $label-text-dark !important;
  }
}

.modal-wrapper {
  display: none;
}

.modal-wrapper.modal {
  display: block;
  position: fixed;
  z-index: 999999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: $background-color-translucent;
}

.modal-content {
  background-color: $modal-background-color;
  border: 1px solid #888;
  height: auto;
  max-height: 60%;
  width: 80%;
  margin: 5em auto;

  .viewport {
    overflow-y: scroll;
    border-bottom: 1px solid $accent-dark;
    margin-bottom: 1em;
  }
}
