$port-published: #9d9;
$port-target: #999;

$mount-button: #824747;

$modal-background-color: #00000099;
$modal-background-hover-color: #000000aa;

$url-hover-color: #3798db99;
$button-background-hover-color: #374f5a33;
$background-color: #222;
$background-color-secondary: #333;
$background-color-translucent: rgba(34, 34, 34, 0.9);
$background-color-highlight: #292929;
$background-color-updating: #7b613a94;

$status-light-healthy: #bf9208d1;

$highlight-select: #bf9208d1;
$highlight-select-background: rgba(240,240,102,0.1);
$highlight-select-accent: #375a7e55;

$outline-dark: #555;
$accent-dark: #375a7e;

$label-text: #ddd;
$label-text-secondary: #dedede;
$label-text-subheading: #aaa;
$label-text-light: #eee;
$label-text-dark: #999;

$updating: #dd4;

$mapping-key: #38755d;
$mapping-syntax: #ddd;
$mapping-value: #999;

html {
  font-size: 14px;
}

.badge.dense {
  margin: 0 !important;
}

.tooltip {
  color: $label-text-light !important;

  em {
    color: $label-text-dark !important;
  }
}

.chart-button {
  color: $label-text;
}

.chart-button:hover {
  color: $accent-dark;
  cursor: pointer;
}

.modal-wrapper {
  display: none;
}

.modal-wrapper.modal {
  display: block;
  position: fixed;
  cursor: pointer;
  z-index: 999999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: $background-color-translucent;
}

.modal-content {
  cursor: initial;
  background-color: $modal-background-color;
  border: 1px solid #888;
  height: auto;
  max-height: 60%;
  width: 80%;
  margin: 5em auto;
  border: 2px solid $outline-dark;
  box-shadow: 0px 0px 5px $outline-dark;

  .viewport {
    overflow-y: scroll;
    border-bottom: 1px solid $outline-dark;
    margin-bottom: 1em;
  }
}

.modal-content:hover {
  background-color: $modal-background-hover-color;
}
