.chart-button {
  color: $label-text;
}

.chart-button:hover {
  color: $accent-dark;
  cursor: pointer;
}

.chart-wrapper {
  z-index: 9999999999;
  width: 62em;
  min-height: 38em;
}

.chart-wrapper .loading {
  height: 100%;
  font-size: 1em;
  font-style: oblique;
  text-align: center;
}

.chart-wrapper.ready:hover {
  background-color: $modal-background-hover-color;
}

.chart {
  padding: 1em;
}

.chart .no-data {
  color: $label-text-dark;
  text-align: center;
  font-style: oblique;
}
