#dashboard {
  height: calc(100% - 2.4em);
  position: absolute;
  top: 0;
  margin-top: $overview-sticky-height;
}

h2.section-title {
  text-align: right;
  color: $label-text-dark;
  opacity: 0.1;
  font-size: 1.4em;
  border-bottom: 1px solid $outline-background;
}

.section:hover h2.section-title {
  opacity: 0.3;
}

button.toggle-section {
  opacity: 0;
  height: $window-height;
  padding: 0;
  float: left;
  width: 28px; /* In pixels because we use this to calculate screen offsets */
  transition: opacity 0.8s ease;
}

button.toggle-section:hover, button.toggle-section.stacks-minimized {
  opacity: 1;
}

.divider {
  height: $window-height;
  float: left;
  border-left: 1px solid $outline-background;
}

.section {
  float: left;
  overflow: hidden;
  display: inline-block;
}

#stacks {
  position: absolute;
}
