#dashboard {
  height: 100%;
  position: absolute;
  top: 0;
  margin-top: 1.8em;
}

h2.section-header {
  font-size: 1.4em;
  margin: 0.8em 0;
  display: inline-block;
}

.toggle-section {
  height: $window-height;
  padding: 0;
  float: left;
  width: 28px; /* In pixels because we use this to calculate screen offsets */
}

.section {
  float: left;
  overflow: hidden;
  display: inline-block;
}

#stacks {
  position: absolute;
}
