.networks {
  padding: 2em;

  h2.joined, h2.reachable {
    font-size: 1.4em;
  }

  .joined-networks {
    margin-top: 1em;
  }

  .joined-network {
    font-family: $monospace;
    font-size: 1.2em;

    .network-name {
      color: $label-text-dark;
    }

    .network-id {
      color: $accent-dark;
    }
  }

  table {
    margin-top: 1em;
    min-width: 100%;
  }

  th {
    padding-right: 1em;
    text-align: left;
  }

  th span.aliases {
    color: $info;
  }


  td.aliases {
    text-align: left;
    width: 100%;
    padding-left: 2em;
  }

  tbody tr.networked-service {
    line-height: 1em;

    &:hover {
      td {
        text-decoration: underline;
        text-decoration-color: $info;
      }
    }
  }

  .alias {
    color: $info;
  }

  .syntax {
    color: $dark;
  }

  .reachable-network-name {
    padding: 0 0.2em;
    font-size: 1.1em;
    color: $label-text-dark;
  }

  .networked-service {
    font-size: 1.1em;
    font-family: $monospace;
    color: $dark;
  }
}
