#nodes {
  float: left;
  height: calc(100% - 2em);
  width: 21em;
  padding: 1em;
  overflow-y: scroll;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

#nodes::-webkit-scrollbar {
  width: 0 !important;
}

.node {
  padding: 0.4em;
  margin-bottom: 1em;
  width: 18em;
  white-space: nowrap;
}

#nodes.maximized .node {
  display: inline-block;
  margin: 1em;
  padding-top: 0.8em;
  min-width: 20em;

  .badges {
    margin-top: 0.2em;
  }
}

.node .status {
  width: 1em;
  height: 1em;
  display: inline-block;
  border-radius: 1em;
  vertical-align: middle;
  visibility: hidden;
}

.node {
  background-color: $background-color-highlight;
  transition: background-color 0.8s ease;
}

.node .light {
  position: absolute;
  height: 1.2em;
  width: 1.2em;
  color: $outline-dark;
  opacity: 0.8;
  transition: color 1500ms, opacity 1500ms;
}

.node.ping .light {
  opacity: 1;
  color: $status-light-healthy;
  transition: color 700ms ease, opacity 700ms;
}

.minimized .node {
  cursor: pointer;
  margin-bottom: 1.2em 0;
  height: 4.4em;
}

.minimized .node tr.memory th {
  display: none;
}

.minimized .node tr.cpu th {
  display: none;
}

.minimized .node tr.load th {
  display: none;
}

.minimized .node tr.load td {
  display: none;
}

.minimized .node tr.disk-stats {
  display: none;
}

.minimized .node tr.filesystem-stats {
  display: none;
}

.minimized .node .hostname {
  font-size: 0.9em;
}

.node.highlighted {
  box-shadow: 0px 0px 3px $highlight-select;
}

.node.selected {
  box-shadow: 0px 0px 3px $highlight-select;
  background-color: $highlight-select-background;
}

.node h2 {
  font-size: 1rem;
  padding-left: 0.4em;
  padding-right: 0.4em;
  clear: both;
}

.node h2.hostname {
  width: 12.8em;
  max-width: 12.8em;
  font-size: 1.2em;
  overflow-x: hidden;
  text-overflow: ellipsis;
  margin-left: 1.4em;
}

.maximized .node h2.hostname {
  display: inline-block;
  width: 15em;
  max-width: 15em;
  margin-top: -0.2em;
}

.node h3 {
  font-size: 1.0em;
}

.node .hostname {
  text-transform: uppercase;
  font-family: monospace;
}

.node h2.hostname {
  display: inline-block;
  color: $label-text;
}

.node .chart-button {
  float: right;
}

.node .badges {
  float: right;
  display: inline;
}

.maximized .status {
  position: absolute;
  margin: 0.4em;
}

.maximized .node .hostname {
  text-align: center;
  padding: 0.2em;
  font-size: 1.0em;
  display: inline;
}

.node .badge {
  margin: 0.2em;
}

.node .badge.hidden {
  display: none;
}

.maximized .node .badge.hidden {
  display: none;
}

.node .alert {
  padding: 0.2em;
  margin: 0.2em;
}
