#nodes {
  float: left;
  height: 100%;
  width: 21em;
  padding: 1em;
  overflow-y: scroll;
}

.node {
  border: 0.2em solid #999;
  padding: 0.2em;
  border-radius: 15px 15px 0px 0px;
  box-shadow: 0px 0px 5px #555;
  margin-bottom: 1em;
  width: 18em;
}

#nodes.expanded .node {
  display: inline-block;
  margin: 1em;
}

#nodes.collapsed .node tr.memory th {
  display: none;
}

#nodes.collapsed .node tr.cpu th {
  display: none;
}

#nodes.collapsed .node tr.load th {
  display: none;
}

#nodes.collapsed .node tr.load td {
  display: none;
}

#nodes.collapsed .node tr.disk-stats {
  display: none;
}

#nodes.collapsed .node tr.filesystem-stats {
  display: none;
}


.node.highlight {
  border-color: #dd9;
}

.node h2 {
  font-size: 1.2em;
  padding-left: 0.4em;
  padding-right: 0.4em;
}

.node h3 {
  font-size: 1.0em;
}

.node h2.hostname {
  font-family: monospace;
  text-align: center;
  padding: 0.2em;
  font-size: 1.0em;
  color: #0b0;
  background-color: #0c0c0c;
  margin: 0.4em auto;
  width: 80%;
  border: 2px solid #7d7d7d;
  border-radius: 5px;
}

.node .badge {
  margin: 0.2em;
}

.node .alert {
  padding: 0.2em;
  margin: 0.2em;
}


