.node-stats table {
  width: 100%;
}

.node-stats th {
  padding: 0.2em;
  font-family: monospace;
  font-size: 0.9em;
}

.node {
  .icon.disks {
    height: 1.2rem;
    width: 1.2rem;
  }
}

.node-stats .label {
  text-align: center;
  width: 100%;
  color: $label-text-light;
  text-shadow: 0px 0px 5px $accent-dark;
  padding: 0.2em;
}

.disk-stats .label {
  font-family: monospace;
}

.disk-stats .badge {
  color: $label-text-light;
}

.disk-stats .metrics {
  white-space: nowrap;
}

.node-stats .progress {
  padding: 0.2em;
  margin: 0.2em;
}

.minimized .node-stats .meter.memory {
  margin-left: 0.2em;
}

.minimized .node-stats {
  margin-bottom: 0.2em;
}

.minimized .node-stats .meter {
  display: inline-block;
  width: 22%;
}

.minimized .load-averages {
  display: inline-block;
}

.minimized .load-averages .badge {
  display: inline-block;
  width: 3.2em;
}


.minimized .node-stats .progress {
}

.minimized .node-stats .progress .label .icon {
  width: 1.3em;
  height: 1.3em;
}
