.node-stats table {
  width: 100%;
}

.node-stats th {
  padding: 0.2em;
  font-family: monospace;
}

.node-stats .label {
  text-align: center;
  width: 100%;
  color: $label-text-light;
  text-shadow: 0px 0px 5px $accent-dark;
  padding: 0.2em;
}

.disk-stats .label {
  font-family: monospace;
}

.disk-stats .badge {
  color: $label-text-light;
}

.node-stats .progress {
  padding: 0.2em;
  margin: 0.2em;
}

.minimized .node-stats .meter.memory {
  margin-left: 0.4em;
}

.minimized .node-stats {
  margin-bottom: 0.2em;
}

.minimized .node-stats .meter {
  display: inline-block;
  width: 24%;
}

.minimized .load-averages {
  display: inline-block;
}

.minimized .load-averages .badge {
  display: inline;
}


.minimized .node-stats .progress {
}

.minimized .node-stats .progress .label {
  visibility: hidden;
}
