$overview-height: 8.5em;
// Using `em` creates weird rounding issues and off-by-one pixel alignment
$overview-section-width: 130px;

.overview-minimized {
  background-image: url('../images/logo-compact.svg');
  background-repeat: no-repeat;
  background-position: 0.2em 0;
  background-size: auto 2em;
  background-color: $outline-background;
  opacity: 0.6;
  height: 2.2em;
  display: block;
  cursor: pointer;
  margin-right: 1em;
  position: sticky;
  top: 0;
  text-align: right;
  width: 100%;
  z-index: 999999999999999;
  border-bottom: 1px solid $outline-dark;
  padding-top: 0.2em;
  visibility: visible;

  &.visible {
    visibility: visible;
  }

  .icon {
    width: 1.4em;
    height: 1.4em;
    margin-right: 1em;
    color: $url-hover-color;
    opacity: 0.8;
  }
}

.overview {
  border-bottom: 3px solid $outline-dark;
  background-image: url('../images/logo.svg');
  background-repeat: no-repeat;
  background-size: auto $overview-height - 1em;;
  background-position: 1.2em 0.1em;
  min-height: $overview-height;
  max-height: $overview-height;
  display: block;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: $background-color;
  width: 100%;
  height: $overview-height;
  transition: opacity 0.5s ease;
  opacity: 0;

  &.visible {
    opacity: 1;
  }

  &.hidden {
    visibility: hidden;
  }

  .spacer {
    width: 12.5em;
    display: inline-block;
    float: left;
    height: $overview-height;
  }

  .headers {
    div {
      vertical-align: middle;
      text-align: center;
      font-size: 1em;
      height: 1.5em;
      color: $label-text-subheading;
      width: $overview-section-width;
      padding-top: 0.2em;
      display: inline-block;
    }
  }

  .counts {
    div {
      float: left;
      display: table;
      height: $overview-height - 1.5em;
      width: $overview-section-width;
      text-align: center;

      .count {
        display: table-cell;
        vertical-align: middle;
        font-size: 2em;
        color: $label-text-dark;
      }

      border: 2px solid $transparent;
      border-top: none;

      // We use JS to set this class so that we can also highlight the related
      // `.section-header` element.
      &.hover {
        border-color: $highlight-select;
      }
    }
  }

  .section-header {
    border: 2px solid $transparent;
    border-bottom: none;
    border-bottom: none;

    &.hover {
      border-color: $highlight-select;
    }
  }

  .nodes {
    background-color: #4868af6b;
  }

  .services {
    background-color: #aeaf486b;
  }

  .containers {
    background-color: #48af636b;
  }

  .networks {
    background-color: #5c48af6b;
  }

  .detail {
    display: table;
    padding-left: 1em;
    margin-top: -1em;
    height: $overview-height;

    .detail-row {
      display: table-row;
      padding-bottom: 0.2em;
    }

    .detail-title, .detail-value, .detail-icon {
      display: table-cell;
    }

    .detail-title {
      color: $label-text-dark;
      padding-right: 0.8em;
    }

    .detail-value {
      color: $label-text;
      font-family: monospace;
    }

    .detail-icon {
      padding-left: 0.4em;

      .icon {
        width: 1.2em;
        height: 1.2em;
      }
    }

    .detail-punctuation {
      color: $accent;
    }
  }
}

.overview-modal {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: $background-color-translucent;
  z-index: 9999999999999999999999999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease;
  &.visible {
    visibility: visible;
    opacity: 1;
  }
  &.hidden {
    opacity: 0;
  }
}
