.service {
  padding-left: 1em;
  margin-bottom: 1em;
}

.service h2 {
  font-size: 1rem;
  color: $label-text-dark;
}

.service-name, a.service-name, a.image {
  color: $label-text-dark;
  text-transform: lowercase;
  font-family: monospace;
}

a.service-name:hover, a.image:hover {
  text-decoration: none;
  color: $url-hover-color;

  span {
    color: $url-hover-color;
  }

  .punctuation {
    color: $label-text-dark;
  }
}

.service span.title {
  font-size: 1rem;
  text-transform: lowercase;
  font-family: monospace;
}

.service .ports {
  font-family: monospace;
  margin-left: 1em;
  margin-top: 0.4em;
}

.service .ports .punctuation {
  color: $accent-dark;
}

.service .ports .arrow {
  margin-right: 0.2em;
}

td.ports {
  text-align: right;
  padding-right: 0.2em;
}

.service-title {
  width: 50%;
}

.collapsed .service .ports {
  .published {
    color: $port-published;
  }

  .target {
    color: $port-target;
  }

  .published.arrow {
    color: $port-published;
    margin-right: 0.4em;
  }
}

.service .ports .target.arrow {
  color: $port-target;
}

.service .ports .published {
  color: $port-published;
}

.service .ports .target {
  color: $port-target;
}

tr.service {
  cursor: pointer;
}

tr.service:hover {
  background-color: $background-color-highlight;
  background-opacity: 0.1;
}

tr.service.updating {
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0% {
    background-color: $background-color-translucent;
  }

  50% {
    background-color: $background-color-updating;
  }

  100% {
    background-color: $background-color-translucent;
  }
}

tr.service.selected {
  box-shadow: 3px 0px 0px $highlight-select;
  background-color: $highlight-select-background;
}

tr.service.highlight.networked {
  background-color: rgba(45,80,180,0.2);
}

.service .mode-icon {
  color: $label-text-dark;
  height: 1em;
  width: 1em;
  margin-right: 0.4em;
  margin-left: 0.4em;
  opacity: 1;
}

.service .network-icon {
  visibility: hidden;
  position: absolute;
  left: 0.3em;
  vertical-align: middle;
  display: inline;
}

.service.networked .network-icon {
  visibility: visible;
  color: rgba(70,120,235,1.0);
}

.service {
  .image-label {
    font-family: monospace;
    background-color: $background-color-secondary;
    color: $label-text-subheading;
    border-radius: 0.4em;
    margin: 0.2em;
    text-shadow: 0px 0px 5px $accent-dark;
    padding: 0.2em 0.4em;
  }
}

.service .updated {
  color: $updated;
  margin-right: 0.4em;
}

/* https://loading.io/css/ */

.service .updating {
  display: inline-block;
  top: 0.4em;
  content: " ";
  width: 0.8em;
  height: 0.8em;
  margin: 1px;
  margin-right: 0.4em;
  border-radius: 50%;
  border: 2px solid $updating;
  border-color: $updating transparent $updating transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

