.service {
  padding-left: 1em;
  margin-bottom: 1em;
}

.service h2 {
  display: inline;
  font-size: 1em;
  color: $label-text-dark;
}

.service-name, a.service-name, a.image {
  color: $label-text;
  opacity: 0.7;
  text-transform: lowercase;
  font-family: monospace;
}

a.service-name:hover, a.image:hover {
  text-decoration: none;
  color: $url-hover-color;

  span {
    color: $url-hover-color;
  }

  .punctuation {
    color: $label-text-dark;
  }
}

.service span.title {
  font-size: 1em;
  text-transform: lowercase;
  font-family: monospace;
}

.service .ports {
  font-family: monospace;
  margin-left: 1em;
  margin-top: 0.4em;
}

.service .ports .punctuation {
  color: $outline-dark;
}

.service .ports .arrow {
  margin-right: 0.2em;
}

.service .mode-icon {
  color: $label-text-dark;
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  margin-left: 0.4em;
  opacity: 1;
}

.service .network-icon, .service .node-icon {
  visibility: hidden;
  position: absolute;
  left: 0.3em;
  vertical-align: middle;
  display: inline;
}

.service.networked .network-icon {
  visibility: visible;
  color: rgba(70,120,235,0.6);
}

.service.highlighted .node-icon {
  visibility: visible;
  color: rgba(240,240,102,0.3);
}

.service {
  .image-label {
    font-family: monospace;
    background-color: $background-color-secondary;
    color: $label-text-subheading;
    border-radius: 0.4em;
    margin: 0.2em;
    text-shadow: 0px 0px 5px $outline-dark;
    padding: 0.2em 0.4em;
  }
}

.service-updated-tooltip {
  text-align: left;
}

td.ports {
  text-align: right;
  padding-right: 0.2em;
}

.service-title {
  width: 50%;

  .mode-icon {
    margin-left: 2em;
  }

  .badge {
    position: absolute;
    margin-top: 0.2em;
    width: 2em;
    height: 1.6em;
  }
}

.collapsed .service {
  .ports {
    .published {
      color: $port-published;
    }

    .target {
      color: $port-target;
    }

    .published.arrow {
      color: $port-published;
      margin-right: 0.4em;
    }
  }
}

.service .ports .target.arrow {
  color: $port-target;
}

.service .ports .published {
  color: $port-published;
}

.service .ports .target {
  color: $port-target;
}

tr.service {
  cursor: pointer;
}

tr.service {
  .mapping.btn {
    visibility: hidden;
  }
}

tr.service:hover {
  background-color: $background-color-highlight;
  background-opacity: 0.1;

  .mapping.btn {
    visibility: visible;
  }
}

.service.synced {
  animation: pulse-success 1.5s ease 1;
}

.service.updating {
  &.percent-100 { animation: pulse-percent-0 3s infinite; }
  &.percent-90 { animation: pulse-percent-10 3s infinite; }
  &.percent-80 { animation: pulse-percent-20 3s infinite; }
  &.percent-70 { animation: pulse-percent-30 3s infinite; }
  &.percent-60 { animation: pulse-percent-40 3s infinite; }
  &.percent-50 { animation: pulse-percent-50 3s infinite; }
  &.percent-40 { animation: pulse-percent-60 3s infinite; }
  &.percent-30 { animation: pulse-percent-70 3s infinite; }
  &.percent-20 { animation: pulse-percent-80 3s infinite; }
  &.percent-10 { animation: pulse-percent-90 3s infinite; }
  &.percent-0 { animation: pulse-percent-100 3s infinite; }
}

tr.service.selected {
  box-shadow: 3px 0px 0px $highlight-select;
  background-color: $highlight-select-background;
}

tr.service.highlighted {
  background-color: $highlight-select-background-secondary;
}

tr.service.networked {
  background-color: rgba(45,80,180,0.2);
}

.expanded .service  {
  padding-top: 0.6em;
  border-bottom: 1px solid $outline;

  .image-wrapper {
    float: left;
  }

  .service-icon .icon {
    height: 1.4em;
    width: 1.4em;
    margin-right: 0.2em;
    margin-left: 0.4em;
  }

  .service-name {
    font-size: 1.2em;
  }

  .service-badges {
    font-size: 1.2em;
    display: inline;

    .badge {
      padding: 0.25em;
      width: 2em;
      height: 1.65em;
    }
  }

  .buttons {
    position: absolute;
    right: 2em;
    margin-top: -1.4em;
  }

  .ports {
    text-align: right;
    margin-right: 0.4em;
    font-size: 1.2em;
  }

  .tasks {
    // Allow for port mappings
    margin-right: 10.2em;
    margin-top: 0.4em;
  }
}

.collapsed .service-icon {
  margin-right: 0.4em;
  margin-left: 0.2em;
  .icon {
    height: 1.5em;
    width: 1.5em;
  }
}

.service .updating .icon {
  color: $updating;
  animation: keyframes_rotate 2s cubic-bezier(0.39, 0.84, 0.66, 0.49) infinite;
}

@keyframes keyframes_rotate {
  0% {
    transform: rotate(0deg);
    opacity: 0.9;
  }
  25% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.5;
  }
  90% {
    opacity: 0.7;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0.9;
  }
}

.tooltip {
  .network-name {
    color: $label-text-dark;
  }

  .network-id {
    color: $accent-dark;
  }

  .punctuation {
    color: $accent-background;
  }

  .network-alias-punctuation {
    color: lighten($accent-background, 10%);
    font-weight: bold;
  }

  .network-alias {
    color: lighten($accent-dark, 10%);
    padding-left: 0.2em;
    padding-right: 0.2em;
  }
}

.service .image .icon.copy {
  color: $white;
  width: 1.2em;
  height: 1.2em;

  &:hover {
    color: $cyan;
  }
}
