.service {
  padding-left: 1em;
  margin-bottom: 1em;
}

.service h2 {
  font-size: 1.2em;
  color: #999;
}

.image {
  color: #ccc;
  padding: 0.2em 0.6em;
}

.service-name {
  color: #999;
}

.service-name .badge {
  margin-left: 0.4em;
}

.service span.title {
  text-transform: lowercase;
  font-family: monospace;
}

.service .ports {
  font-family: monospace;
  margin-left: 1em;
  margin-top: 0.4em;
}

.service .ports .arrow {
  margin-right: 0.2em;
}

.service .ports .published.arrow {
  color: $port-published;
  margin-right: 0.4em;
}

.service .ports .target.arrow {
  color: $port-target;
}

.service .ports .published {
  color: $port-published;
}

.service .ports .target {
  color: $port-target;
}

tr.service {
  cursor: pointer;
}

tr.service.highlight {
  background-color: rgba(240,240,102,0.1);
}

tr.service.highlight.networked {
  background-color: rgba(45,80,180,0.2);
}

.service .network-icon {
  visibility: hidden;
  position: absolute;
  left: 0.4em;
  vertical-align: middle;
  display: inline;
}

.service.networked .network-icon {
  visibility: visible;
  color: rgba(70,120,235,1.0);
}

.service .tag {
  font-family: monospace;
  padding-left: 0.2em;
  color: #adacac;
  background-color: #3d3f42;
  margin: 0.8em;
  padding: 0.2em;
  margin-left: 1em;
}

.service .updated {
  color: #4d4;
  float: left;
  margin-right: 0.4em;
}

/* https://loading.io/css/ */

.service .updating {
  float: left;
  display: inline-block;
  top: 0.4em;
  content: " ";
  width: 0.8em;
  height: 0.8em;
  margin: 1px;
  margin-right: 0.4em;
  border-radius: 50%;
  border: 2px solid #dd4;
  border-color: #dd4 transparent #dd4 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

