#stacks {
  padding: 1em;
  float: left;
  height: 100%;
  min-width: 75%;
  max-width: 75%;
  padding-left: 2em;
  overflow-y: scroll;
  table-layout: fixed;
}

.services {
  margin-top: 0.8em;
}

.stack.header th {
  font-size: 1.4em;
  font-family: monospace;
  color: #555;
  margin: 0.4em 1em;
}

.stack.header th.name {
  color: #eee;
  text-transform: uppercase;
}

div.stack {
  border-top: 1px solid #ddd;
  padding-top: 0.2em;
}

button.stack {
  padding: 0.2em 0.4em;
  text-transform: uppercase;
  margin: 1em;
  font-size: 0.2em;
  float: left;
}

table.stacks {
  width: 100%;
  border-spacing: 0 0.4em;
  border-collapse: separate;
}

table.stacks thead th {
  text-align: left;
  color: #aaa;
  padding-left: 0.4em;
  padding-bottom: 0.2em;
}

.collapsed.stack {
  border-top: 1px solid #999;
  background-color: #333;
}

.collapsed td.ports {
  font-family: monospace;
  font-size: 1.2em;
  margin: 0 0.2em;
}

.collapsed .published {
  color: #9d9;
  margin-right: 0.2em;
}

.collapsed .target {
  color: #dd9;
}

.stacks th {
  font-size: 1.2em;
}

.stacks th.service-name {
  font-family: monospace;
  text-transform: lowercase;
  padding: 0.2em;
}

.collapsed .indent {
  padding: 0;
}

.collapsed .image td {
  padding: 0.4em;
}

.collapsed .image span {
  font-family: monospace;
  background-color: #555;
  border-radius: 0.4em;
  margin: 0.2em;
  text-shadow: 0px 0px 5px #555;
  padding: 0.2em 0.4em;
}

.stack span.name {
  padding-top: 0.3em;
  display: inline-grid;
}

.collapsed th.name {
  min-width: 15em;
}

.collapsed .service .service-name {
  color: #aaa;
  padding-left: 1em;
}

.collapsed .service .ports {
  width: 10em;
}

.collapsed .service .image {
  width: 10em;
}
