#stacks {
  padding: 1em;
  float: left;
  min-width: 75%;
  max-width: 75%;
  padding-left: 2em;
  overflow-y: scroll;
  position: fixed;
  table-layout: fixed;
  height: 100%;
}

.collapsed .services {
  margin-top: 0.8em;
}

.expanded .services {
  background-color: $background-color-highlight;
}

.stack.button {
  margin: 2rem;
  padding: 2rem;
}

.stack {
  .icon.expand {
    height: 1.3rem;
    width: 1.3rem;
    margin-right: 0.2em;
  }
}

.stack.header th {
  font-size: 1.4em;
  font-family: monospace;
  color: $outline-dark;
  margin: 0.4em 1em;
}

.stack.header th.name {
  padding: 0.5rem;
  color: $label-text-light;
  text-transform: uppercase;

}

.expanded th.name {
  background-color: $highlight-select-accent;
}

tr.collapsed div.stack {
  border-top: 1px solid $outline-dark;
  padding-top: 0.2em;
}

button.stack {
  padding: 0.2em 0.4em;
  text-transform: uppercase;
  font-size: 0.2em;
  float: left;
}

table.stacks {
  width: 100%;
  margin-left: 0.4em;
  border-spacing: 0 0.4em;
  border-collapse: collapse;
}

.collapsed.stack {
  background-color: $background-color-highlight;
}

.collapsed td.ports {
  font-family: monospace;
  font-size: 1.2em;
  margin: 0 0.2em;
}

.stacks th {
  font-size: 1.2em;
}

.stacks th.service-title {
  padding: 0.5em 0.4em;
}

.collapsed.stack tr {
  height: 1.2em;
}

.collapsed .indent {
  padding: 0;
}

.collapsed .image td {
  padding: 0.4em;
}

.stack span.name {
  display: inline-grid;
  margin-left: 0.5rem;
  font-size: 1rem;
}

.collapsed th.name {
  min-width: 15em;
}

.collapsed .service .service-name {
  color: $label-text-subheading;
  padding-left: 1em;
}

.collapsed .service .ports {
  width: 10em;
}

.collapsed .service .image {
  width: 10em;
}
