#stacks {
  padding: 1em;
  float: left;
  min-width: 75%;
  max-width: 75%;
  padding-left: 2em;
  overflow-y: auto;
  position: fixed;
  table-layout: fixed;
  height: 100%;
}

.stack-summary-wrapper {
  position: absolute;
  width: 100%;
  margin-top: -1.5em;
}

.stack-summary {
  position: absolute;
  position: absolute;
  right: 0;
  top: 0.2em;

  .syntax {
    color: $accent-dark;
  }

  .cell {
    display: inline-block;

    &.tasks-summary {
      min-width: 5em;
      max-width: 5em;
    }

    &.syntax {
      margin-left: 1em;
      margin-right: 0.2em;
      min-width: 1em;
      max-width: 1em;
    }

    &.services-summary {
      min-width: 5em;
      max-width: 5em;
    }

    &.overview-badges {
      min-width: 20em;
      text-align: right;
      max-width: 20em;
      margin-right: 3em;
      .badge {
        color: $label-text-light;
      }
    }
  }

  .stack-overview {
    color: $outline;
    font-size: 0.8em;

    span {
    }

    em {
      color: $label-text-dark;
      margin-left: 0.5em;
    }
  }
}

.services-summary-cell, .tasks-summary-cell {
  width: 5.5em
}

.stack-overview.badge {
  color: $white;
  margin: 0 0.2em;
  padding: 0.2em 0.5em;
}

.collapsed .services {
  margin-top: 0.8em;
}

.expanded .services {
  background-color: $background-color-highlight;
}

.stack.button {
  margin: 2rem;
  padding: 2rem;
}

.stack {
  .icon.expand {
    height: 1.3rem;
    width: 1.3rem;
    margin-right: 0.2em;
  }
}

.stack.header th {
  font-size: 1.4em;
  font-family: $monospace;
  color: $outline-dark;
  margin: 0.4em 1em;
}

.stack.header th.name {
  padding: 0.5rem;
  letter-spacing: 1px;
  color: $label-text;
  text-transform: uppercase;
}

.expanded th.name {
  background-color: $highlight-select-accent;
}

tr.collapsed div.stack {
  border-top: 1px solid $outline-dark;
  padding-top: 0.2em;
}

tr.collapsed.darken {
  .overlay {
    width: 10em;
    position: absolute;
    background-color: #171517a6;
    min-width: calc(100% - 2.4em);
    padding: 0.9em 0;
    z-index: 10;
    margin-top: -0.3em;
    left: 1.8em;
  }

}

button.stack {
  padding: 0.2em 0.4em;
  text-transform: uppercase;
  font-size: 0.2em;
  float: left;
  position: relative;
  z-index: 11;
}

table.stacks {
  width: 100%;
  margin-left: 0.4em;
  border-spacing: 0 0.4em;
  border-collapse: collapse;
}

.collapsed.stack {
  background-color: $background-color-highlight;
}

.collapsed td.ports {
  font-family: $monospace;
  font-size: 1.2em;
  margin: 0 0.2em;
}

.stacks th {
  font-size: 1.2em;
}

.stacks th.service-title {
  padding: 0.5em 0.4em;
}

.collapsed.stack tr {
  height: 1.2em;
}

.collapsed .indent {
  padding: 0;
}

.collapsed .image td {
  padding: 0.4em;
}

.stack span.name {
  display: inline-grid;
  margin-left: 0.5rem;
  font-size: 1rem;
}

.collapsed th.name {
  min-width: 15em;
}

.collapsed .service .service-name {
  color: $label-text-subheading;
  padding-left: 1em;
}

.collapsed .service .ports {
  width: 10em;
}

.collapsed .service .image {
  width: 10em;
}
