.task h3 {
  font-family: monospace;
  text-align: center;
  display: inline-block;
  padding: 0.2em 1em;
  font-size: 1.0em;
}

.task.highlight {
  border: 1px solid #ff0;
}

.task .badge {
  margin: 0 0.2em;
  text-shadow: 0px 0px 5px #555;
}

.tasks {
  margin-left: 1em;
  margin-top: 2em;
}

span.task {
  padding: 0.8em;
  border: 1px solid #eee;
  border-radius: 5px;
  display: inline-table;
  margin: 1em;
}
