.task {
  max-width: 14em;
  border-radius: 12.5%;
  .box {
    transition: background-color 3s ease, border-color 3s ease;
  }
}

.task.out-of-sync {
  .box {
    border-color: rgba($warning, 0.5);
    background-color: rgba($warning, 0.1);
  }
}

.task.synced {
  .box {
    background-color: rgba($success, 0.1);
    border-color: rgba($success, 0.5);
    animation: pulse-success 1.5s ease 1;
  }
}

.task.error {
  .box {
    border-color: rgba($danger, 0.5);
    background-color: rgba($danger, 0.1);
    animation: pulse-error 1.5s ease 1;
  }
}

.task-stats {
  float: left;
  width: 10.9em;
}

.task .badge {
  text-align: center;
  display: block;
  margin: 0.4em 0;
  text-overflow: ellipsis;
  width: 14em;
  overflow-x: hidden;
}

.task .badges {
  float: left;
  vertical-align: middle;
  margin-bottom: 0.6em;
  margin-top: 0.2em;
  opacity: 0.8;
}

span.task {
  display: inline-table;
}

.task .icon {
  margin: 0 0.2em;
  height: 1.2em;
  width: 1.2em;
}

.modal .subtitle {
  .punctuation {
    color: $accent;
  }
}

.task .icon.chart-button {
  margin-top: 0.2em;
  cursor: pointer;
}

.task .box {
  padding: 0.8em;
  border: 1px solid $label-text-light;
  border-radius: 5px;
  margin: 1em;
  display: block;
  // Do not pulse background if parent service is updating
  background-color: $background-color;
  height: 12.2em;
  padding-top: 0.6em;

  .task-id {
    font-family: $monospace;
    width: 11em;
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: block;
    font-size: 0.8em;
    color: $label-text;
  }

  .chart-button {
    float: right;
    padding: 0;
    width: 1.6em;
  }
}

.task.highlighted {
  background-color: $highlight-select-background;

  .box {
    box-shadow: 0px 0px 3px $highlight-select;
    border-color: rgba($highlight-select, 0.5);
  }
}

.task .service-name {
  display: none;
}

.node-inspect-wrapper {
  max-height: 80%;
}

.node-inspect {
  .tasks {
    margin-left: 2em;
  }

  .task .service-name {
    display: block;
    margin-left: 1em;
    margin-top: 1em;
    max-width: 14em;
    overflow-x: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }

  .task {
    display: inline-block;
    float: left;
    margin-left: 1em;

    .badges {
      margin-top: 0;
    }

    .chart-button {
      margin-right: -0.2em;
    }

    .task-id {
      width: 10em;
      margin-top: 0.2em;
    }

    .task-stats {
      margin-left: -0.4em;
      width: 10.7em;
    }

    .box {
      padding-top: 0.4em;
    }
  }
}
