.task {
  width: 12em;
}

.task .badge {
  text-align: center;
  display: block;
  margin: 0.4em 0;
}

.task .badges {
  vertical-align: middle;
  margin-left: 1.4em;
  margin-bottom: 1em;
  margin-top: -0.6em;
  opacity: 0.8;
}

.task .info-icons {
  float: left;
  text-align: left;
  position: absolute;
  margin-left: -0.6em;
  margin-top: -0.4em;
}

span.task {
  display: inline-table;
}

.task .icon {
  margin: 0 0.2em;
  height: 1.2em;
  width: 1.2em;
}

.chart .subtitle {
  .punctuation {
    color: $accent;
  }
}

.task .icon.chart-button {
  margin-top: 0.2em;
  cursor: pointer;
}

.task .box {
  padding: 0.8em;
  border: 1px solid $label-text-light;
  border-radius: 5px;
  margin: 1em;
  display: block;
  // Do not pulse background if parent service is updating
  background-color: $background-color-highlight;
  height: 10.4em;
}

.task.highlight {
  background-color: rgba(240,240,102,0.1);
}

.tooltip {
  max-width: 500px;
}

.tooltip-inner {
  max-width: 500px;
}

.task-tooltip {
  text-align: left;
  width: auto;
  white-space: nowrap;
}
