.task h3 {
  font-family: monospace;
  text-align: center;
  display: inline-block;
  padding: 0.2em 1em;
  font-size: 1.0em;
}

.task .badge {
  margin: 0 0.2em;
  text-shadow: 0px 0px 5px #555;
}

span.task {
  display: inline-table;
}

.task .border {
  padding: 0.8em;
  border: 1px solid #eee;
  border-radius: 5px;
  margin: 1em;
  display: block;
}

.task.highlight {
  background-color: rgba(240,240,102,0.1);
}

