.tooltip {
  position: fixed;
  pointer-events: none; // https://stackoverflow.com/a/48665379
  z-index: 999999999999999999999999999999999999;
  width: auto;
  max-width: 1000px;

  .tooltip-inner {
    max-width: 1000px;
    color: $label-text-light;

    em {
      color: $label-text-dark;
    }

    .nowrap {
      white-space: nowrap;
    }

    .align-left {
      text-align: left;
    }
  }
}

.info-tooltip {
  width: auto;
  white-space: nowrap;

  .errors {
    padding-left: 0.2em;
    font-family: monospace;

    .error-message {
      color: $danger;
    }

    .error-tstamp {
      padding-left: 0.2em;
    }
  }
}
