<html>
  <body>
    <div id="wrapper">
      <div id="content"></div>
    </div>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
      integrity="sha256-gvEnj2axkqIj4wbYhPjbWV7zttgpzBVEgHub9AAZQD4="
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    >

    <link rel="stylesheet" href="/files/css/bootstrap.darkly.css"></link>
    <link rel="stylesheet" href="/files/css/base.css"></link>
    <link rel="stylesheet" href="/files/css/node.css"></link>
    <link rel="stylesheet" href="/files/css/stack.css"></link>
    <link rel="stylesheet" href="/files/css/node_stats.css"></link>
    <link rel="stylesheet" href="/files/css/service.css"></link>
    <link rel="stylesheet" href="/files/css/environment.css"></link>
    <link rel="stylesheet" href="/files/css/task.css"></link>
    <link rel="stylesheet" href="/files/css/dashboard.css"></link>

    {% if env == 'development' %}
      <script src="http://localhost:8081/files/bundle.js"></script>
    {% else %}
      <script src="/files/bundle.js"></script>
    {% endif %}
  </body>
</html>
